.SplashScreen
  height: 100vh
  width: 100vw
  background: #551B8A
  background: linear-gradient(180deg,rgba(85, 27, 138, 1) 0%, rgba(106, 90, 125, 1) 20%, rgba(106, 90, 125, 1) 80%, rgba(85, 27, 138, 1) 100%)

  display: flex
  flex-direction: column
  // padding-bottom: 10vh
  justify-content: center
  align-items: center

  dialog
    height: 50vh
    width: 50vw

  button:first-of-type
    margin-top: 1rem